In [9]:
L=['apple', 'banana', 'kite', 'cellphone', 'dog', 'egg', 'orange']
'''Iterate over the item in a list'''

'Iterate over the item in a list'

In [10]:
for things in L:
    print(things)

apple
banana
kite
cellphone
dog
egg
orange

In [14]:
L=[]
for k in range(20):
    print(k)
    '''Append values to list L'''
    L.append(10*k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
  L

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190]

In [33]:
D = {}
for i in range(10):
    for j in range (10):
        if i==j :
            print(i,"is equal to",j)
            '''update dictionary with (i,j) as key and 2*i as value'''
            D.update({(i,j) : 10*i+j})
        elif i!=j:
            '''update dictionary with (i,j) as key and 2*i as value'''
            D.update ({(i,j) : 101*i+j})
            print(i,"is not equal to",j)

0 is equal to 0
0 is not equal to 1
0 is not equal to 2
0 is not equal to 3
0 is not equal to 4
1 is not equal to 0
1 is equal to 1
1 is not equal to 2
1 is not equal to 3
1 is not equal to 4
2 is not equal to 0
2 is not equal to 1
2 is equal to 2
2 is not equal to 3
2 is not equal to 4
3 is not equal to 0
3 is not equal to 1
3 is not equal to 2
3 is equal to 3
3 is not equal to 4
4 is not equal to 0
4 is not equal to 1
4 is not equal to 2
4 is not equal to 3
4 is equal to 4

In [34]:
D

{(0, 0): 0,
 (0, 1): 1,
 (0, 2): 2,
 (0, 3): 3,
 (0, 4): 4,
 (1, 0): 101,
 (1, 1): 11,
 (1, 2): 103,
 (1, 3): 104,
 (1, 4): 105,
 (2, 0): 202,
 (2, 1): 203,
 (2, 2): 22,
 (2, 3): 205,
 (2, 4): 206,
 (3, 0): 303,
 (3, 1): 304,
 (3, 2): 305,
 (3, 3): 33,
 (3, 4): 307,
 (4, 0): 404,
 (4, 1): 405,
 (4, 2): 406,
 (4, 3): 407,
 (4, 4): 44}

In [35]:
range(5)

range(0, 5)

In [36]:
for i,j in zip(range(5),range(5)):
    print(i,j)

0 0
1 1
2 2
3 3
4 4

In [38]:
for item, j in zip(['apple','banana', 'kite', 'cellphone', 'pen'],range(5)):
    print(item,j)

apple 0
banana 1
kite 2
cellphone 3
pen 4

In [42]:
for i, item in enumerate(['apple','banana', 'kite', 'cellphone', 'pen']):
    print(i, item)

0 apple
1 banana
2 kite
3 cellphone
4 pen

In [44]:
A = [0 for k in range(10)]

In [45]:
A

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [46]:
A = [k for k in range(10)]

In [47]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
L = [45,6,78,9,0]
for i in range(len(L)):
    print (i,L[i])

0 45
1 6
2 78
3 9
4 0

In [62]:
L = [45,6,78,9,0]
for e in L:
    print (e)

45
6
78
9
0

In [50]:
L = [[1,2,3],[3,4,5],[5,7,9]]
for i in range(len(L)):
    for j in range(len(L[i])):
        print(i,j,L[i][j])

0 0 1
0 1 2
0 2 3
1 0 3
1 1 4
1 2 5
2 0 5
2 1 7
2 2 9

In [63]:
L = [[1,2,3],[3,4,5],[5,7,9]]
for e in L:
    for c in e:
        print(e,c)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[3, 4, 5] 3
[3, 4, 5] 4
[3, 4, 5] 5
[5, 7, 9] 5
[5, 7, 9] 7
[5, 7, 9] 9

In [85]:
LL = [[k+j for k in range(10)]for j in range(10)]

In [86]:
LL

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]

In [1]:
i = 0
while i < 10:
    print(i, "th turn")
    i = i+1

0 th turn
1 th turn
2 th turn
3 th turn
4 th turn
5 th turn
6 th turn
7 th turn
8 th turn
9 th turn

In [2]:
import json
'''download'''
with open('data/mylist.json', 'w') as f1:
    json.dump(LL,f1)

NameError: name 'LL' is not defined

In [3]:
import json
'''upload'''
with open ('data/mydic.jason', 'r') as f2:
    AA = json.load(f2)

FileNotFoundError: [Errno 2] No such file or directory: 'data/mydic.jason'

In [4]:
for key,value in AA.items():
    print("key : ",key,"|", "value: ", value)

NameError: name 'AA' is not defined

Q: find sum from 0 to 1000

In [5]:
s = 0
for i in range(1000+1):
    s = s+i
s

500500

In [6]:
print("Hello world")

Hello world